In [95]:
autumn['DATE'] = pd.to_datetime(autumn['DATE'])

In [2]:
autumn = pd.read_csv('autumn2.csv')

In [4]:
autumn['RANGE'] = autumn['TMAX'] - autumn['TMIN']

In [5]:
#maybe this is the database?
conn = sqlite3.connect('weather_data.db')
autumn.to_sql('lou_weather',conn)

/Users/ryanpierson/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

ValueError: Table 'lou_weather' already exists.

In [8]:
autumn.loc[autumn['RANGE'].idxmax()]
autumn.loc[autumn['RANGE'].idxmin()]

DATE     2010-10-09
TMAX             87
TMIN             47
RANGE            40
YEAR           2010
MONTH            10
WEEK             40
DAY               9
Name: 38, dtype: object

In [40]:
from bokeh.layouts import gridplot
from bokeh.io import output_notebook, show
from bokeh.models import HoverTool
from bokeh.plotting import figure
import pandas as pd
import sqlite3

output_notebook()
#Gets the distinct years from the database


def main(year):
    conn = sqlite3.connect('weather.db')
    c = conn.cursor()
    c.execute('''DROP TABLE IF EXISTS maxminall''')
    c.execute('''CREATE TABLE maxminall AS 
                Select concat, 
                    MONTH, 
                    DAY,
                    YEAR,
                    MAX(TMAX) over_max, 
                    MIN(TMIN) over_min  
                from (select AVG(TMAX) tmax, 
                            AVG(TMIN) tmin,
                            MONTH || DAY concat,
                            MONTH,
                            DAY,
                            YEAR
                        from weather
                        where YEAR > '''+ str(year) +''' 
                        GROUP BY 3, 4, 5, 6)
                        GROUP BY 1, 2, 3, 4''')
    
    #print(pd.read_sql('select * from maxminall', conn))
                
    #Retrieves the range for the plots
    rng = pd.read_sql('select MAX(TMAX) max, MIN(TMIN) min from weather', conn)
    mx, mn =(rng.loc[0, 'max'], rng.loc[0,'min'])
    #print(pd.read_sql('select * from maxminall', conn))
    #return pd.read_sql(quer(year), conn)
    display_all_plots(sql_dict(year))
    

# # Query to combine the overall metrics with the individual table
# def quer(y):
#     return'''
#     select a.DATE, 
#     (AVG(a.TMAX)+ AVG(a.TMIN))/2 avg_temp,  
#     a.YEAR, 
#     a.MONTH, 
#     a.DAY, 
#     (b.over_max + b.over_min)/2 comp  
#     from weather a join maxminall b
#     on a.MONTH || a.DAY = b.concat WHERE a.MONTH > 8 AND a.YEAR = ''' + str(y) + " GROUP BY 1, 3, 4, 5, 6"


# Query to combine the overall metrics with the individual table
def quer(y):
    return'''
    select a.DATE, 
    AVG(a.TMAX) TMAX,
    AVG(a.TMIN) TMIN,  
    a.YEAR, 
    a.MONTH, 
    a.DAY, 
    MAX(b.over_max) overmax, 
    MIN(b.over_min) overmin,
    b.concat
    from weather a 
    join 
    maxminall b
    on a.MONTH || a.DAY = b.concat WHERE a.MONTH > 8 AND a.YEAR = ''' + str(y) + " GROUP BY 1, 4, 5, 6, 9"





#Creates the max/min/all temp table


# New Version
def sql_dict(year):
    #query = "Select Distinct YEAR from weather WHERE YEAR > (strftime('%Y','now') - 10) ORDER BY YEAR"
    query = ("Select Distinct YEAR from weather WHERE YEAR > "+str(year) +" ORDER BY YEAR")
    yr = pd.read_sql(query, conn)
    #print("part two:", yr)
    sql_results = {}
    for i in range(len(yr) - 1): 
        y = yr.loc[i,'YEAR']
        #print(y)
        sql_results[str(y)] = {}
        sql_results[str(y)]['DATA'] = pd.read_sql(quer(y), conn)
        sql_results[str(y)]['DATA']['DATE'] = pd.to_datetime(sql_results[str(y)]['DATA']['DATE'])
    #print(pd.read_sql('select * from maxminall', conn))
    return sql_results

#makes the plot
#works
def plot_maker(data, div): 
    hover = HoverTool()
    hover.tooltips = [
        ("index", "$index"),
        ("(x,y)", "($x, $y)"),
        ("radius", "@radius"),
        ("fill color", "$color[hex, swatch]:fill_color"),
        ("foo", "@foo"),
        ("bar", "@bar"),
    ]
    rng = pd.read_sql('select MAX(TMAX) max, MIN(TMIN) min from weather', conn)
    mx, mn =(rng.loc[0, 'max'], rng.loc[0,'min'])
    p = figure(x_axis_type='datetime',y_range=(mn,mx) ,width=500, plot_height=250, title=div)
    p.xgrid.grid_line_color=None
    p.ygrid.grid_line_color='red'
    p.ygrid.grid_line_alpha=0.5
    p.xaxis.axis_label = 'Time'
    p.yaxis.axis_label = "Temperature"
    p.line(data[div]['DATA'].DATE, data[div]['DATA'].TMAX, line_width=2, color='red')
    p.line(data[div]['DATA'].DATE, data[div]['DATA'].TMIN, line_width=2, color='blue')
    p.line(data[div]['DATA'].DATE, data[div]['DATA'].overmax, line_width=2, color='green', alpha=0.5)
    p.line(data[div]['DATA'].DATE, data[div]['DATA'].overmin, line_width=2, color='purple', alpha=0.5)
    p.tools.append(hover)
    return p

# Grouping 
def data_grid(lst, col=2):
    output = []
    for i in range(0, len(lst), col):
        if (i + (col - 1)) >= len(lst):
            output.append(lst[i:])
        else:
            output.append(lst[i:(i+(col))])
    return output


def display_all_plots(data):
    viz = []
    for i in data.keys():
        #print(i)
        viz.append(plot_maker(data, i))
    show(gridplot(data_grid(viz)))
    #show(data_grid(viz))

In [41]:
main(2016)

In [8]:
pd.read_sql('select * from maxminall', conn)

NameError: name 'conn' is not defined

In [136]:
conn = sqlite3.connect('weather.db')
c = conn.cursor()
c.execute('''DROP TABLE IF EXISTS maxminall''')
c.execute('''CREATE TABLE maxminall AS 
            Select concat, 
                MONTH, 
                DAY,
                YEAR,
                TMAX over_max, 
                TMIN over_min
                from (select AVG(TMAX) tmax, 
                        AVG(TMIN) tmin,
                        MONTH || DAY concat,
                        MONTH,
                        DAY,
                        YEAR
                    from weather
                    where YEAR > '''+ str(year) +''' 
                    GROUP BY 3, 4, 5, 6)''')

In [100]:
sql_dict(2016)

part two:    YEAR
0  2017
1  2018

{'2017': {'DATA':           DATE   TMAX   TMIN  YEAR  MONTH  DAY    overmax    overmin
  0   2017-09-01  76.50  56.25  2017      9    1  82.666667  65.333333
  1   2017-09-02  64.50  55.00  2017      9    2  79.083333  62.916667
  2   2017-09-03  78.75  54.50  2017      9    3  84.666667  62.833333
  3   2017-09-04  85.75  64.75  2017      9    4  88.583333  66.083333
  4   2017-09-05  79.25  59.00  2017      9    5  87.166667  66.416667
  5   2017-09-06  73.00  51.25  2017      9    6  83.500000  63.833333
  6   2017-09-07  70.75  49.50  2017      9    7  83.333333  64.250000
  7   2017-09-08  76.75  51.25  2017      9    8  82.750000  63.833333
  8   2017-09-09  77.00  54.00  2017      9    9  79.083333  63.750000
  9   2017-09-10  76.25  53.00  2017      9   10  78.750000  60.000000
  10  2017-09-11  71.00  53.00  2017      9   11  74.583333  56.500000
  11  2017-09-12  74.25  57.50  2017      9   12  79.454545  58.727273
  12  2017-09-13  66.75  60.75  2017      9   13  80.166667  61.416667
  13  2017-09-14  73.00  61.00  2017      9   14  84.333333  64.000000
  14  2017-09-15  81.50  60.00  2017      9   15  86.583333  66.083333
  15  2017-09-16  86.25  62.50  2017      9   16  87.166667  67.250000
  16  2017-09-17  87.00  63.75  2017      9   17  83.833333  68.833333
  17  2017-09-18  85.75  65.00  2017      9   18  86.916667  69.333333
  18  2017-09-19  78.50  68.25  2017      9   19  86.083333  68.416667
  19  2017-09-20  88.25  65.00  2017      9   20  90.583333  66.500000
  20  2017-09-21  90.75  67.50  2017      9   21  91.000000  67.666667
  21  2017-09-22  90.00  69.25  2017      9   22  86.083333  65.416667
  22  2017-09-23  89.25  66.25  2017      9   23  83.166667  63.916667
  23  2017-09-24  90.25  65.75  2017      9   24  84.416667  65.666667
  24  2017-09-25  90.00  65.00  2017      9   25  87.250000  67.250000
  25  2017-09-26  90.00  66.00  2017      9   26  81.416667  62.750000
  26  2017-09-27  90.25  64.75  2017      9   27  77.583333  58.250000
  27  2017-09-28  79.50  59.75  2017      9   28  73.166667  55.166667
  28  2017-09-29  78.25  52.75  2017      9   29  73.000000  53.750000
  29  2017-09-30  74.00  51.00  2017      9   30  72.833333  54.083333
  ..         ...    ...    ...   ...    ...  ...        ...        ...
  92  2017-12-02  58.75  34.00  2017     12    2  54.625000  39.500000
  93  2017-12-03  61.00  31.50  2017     12    3  52.875000  34.625000
  94  2017-12-04  66.75  38.25  2017     12    4  57.250000  38.750000
  95  2017-12-05  63.50  33.50  2017     12    5  54.333333  36.250000
  96  2017-12-06  50.00  28.75  2017     12    6  53.166667  33.500000
  97  2017-12-07  40.00  25.75  2017     12    7  46.750000  34.583333
  98  2017-12-08  35.25  22.00  2017     12    8  48.181818  27.818182
  99  2017-12-09  33.75  21.00  2017     12    9  41.727273  29.636364
  100 2017-12-10  41.00  21.75  2017     12   10  37.000000  21.000000
  101 2017-12-11  51.25  25.00  2017     12   11  48.500000  26.250000
  102 2017-12-12  47.75  23.75  2017     12   12  47.250000  27.000000
  103 2017-12-13  46.25  20.00  2017     12   13  44.625000  25.625000
  104 2017-12-14  45.00  23.75  2017     12   14  40.625000  21.500000
  105 2017-12-15  39.25  25.75  2017     12   15  33.500000  19.250000
  106 2017-12-16  49.00  30.00  2017     12   16  42.750000  23.000000
  107 2017-12-17  48.25  35.00  2017     12   17  55.250000  33.000000
  108 2017-12-18  48.50  38.50  2017     12   18  46.250000  30.250000
  109 2017-12-19  52.75  42.50  2017     12   19  41.000000  27.875000
  110 2017-12-20  54.75  39.25  2017     12   20  46.375000  26.750000
  111 2017-12-21  57.50  32.00  2017     12   21  50.000000  26.625000
  112 2017-12-22  58.00  48.75  2017     12   22  51.625000  37.875000
  113 2017-12-23  57.25  38.25  2017     12   23  51.250000  33.125000
  114 2017-12-24  39.50  25.00  2017     12   24  44.375000  32.125000
  115 2017-12-25  33.00  22.75  2017     12   25  44.500000  33.500000
  116 2017-12-26  30.50  20.75  2017     12   26  49.714286  35.428571
  117 2017-12-27  22.00   8.00  2017     12   27  41.500000  21.750000
  118 2017-12-28  24.00  10.75  2017     12   28  39.125000  19.500000
  119 2017-12-29  28.75  18.50  2017     12   29  38.500000  26.500000
  120 2017-12-30  29.25  12.25  2017     12   30  36.125000  22.750000
  121 2017-12-31  22.00   8.00  2017     12   31  34.125000  20.375000

  [122 rows x 8 columns]}}

In [91]:
pd.read_sql('select * from maxminall', conn)

    concat  MONTH  DAY  over_max   over_min
0      101     10    1    81.000  54.500000
1     1010     10   10    79.750  68.000000
2     1011     10   11    74.625  55.250000
3     1012     10   12    68.250  58.500000
4     1013     10   13    72.750  53.750000
5     1014     10   14    81.750  54.250000
6     1015     10   15    80.000  54.000000
7     1016     10   16    68.000  48.500000
8     1017     10   17    66.000  42.750000
9     1018     10   18    72.750  43.750000
10    1019     10   19    74.750  46.500000
11     102     10    2    82.875  60.750000
12    1020     10   20    77.750  48.750000
13    1021     10   21    77.000  52.500000
14    1022     10   22    76.750  55.500000
15    1023     10   23    71.500  49.500000
16    1024     10   24    61.750  47.000000
17    1025     10   25    54.500  42.250000
18    1026     10   26    62.500  38.500000
19    1027     10   27    65.000  40.750000
20    1028     10   28    45.750  35.750000
21    1029     10   29    40.000  32.250000
22     103     10    3    84.875  63.625000
23    1030     10   30    53.000  31.500000
24    1031     10   31    51.750  32.750000
25     104     10    4    85.500  65.250000
26     105     10    5    85.000  65.875000
27     106     10    6    86.625  65.750000
28     107     10    7    86.250  66.375000
29     108     10    8    81.625  66.625000
..     ...    ...  ...       ...        ...
335     91      9    1    82.500  63.625000
336    910      9   10    72.500  56.125000
337    911      9   11    70.625  55.250000
338    912      9   12    77.000  59.285714
339    913      9   13    76.375  62.250000
340    914      9   14    81.625  64.375000
341    915      9   15    86.125  65.000000
342    916      9   16    86.125  67.250000
343    917      9   17    85.500  67.875000
344    918      9   18    88.125  67.875000
345    919      9   19    85.750  69.375000
346     92      9    2    77.875  62.875000
347    920      9   20    91.125  68.625000
348    921      9   21    91.125  70.000000
349    922      9   22    83.500  66.500000
350    923      9   23    79.000  63.250000
351    924      9   24    81.000  64.875000
352    925      9   25    85.250  67.125000
353    926      9   26    83.250  64.375000
354    927      9   27    77.875  61.000000
355    928      9   28    74.625  56.000000
356    929      9   29    76.500  53.625000
357     93      9    3    85.750  63.625000
358    930      9   30    77.375  53.625000
359     94      9    4    89.875  69.375000
360     95      9    5    85.250  66.500000
361     96      9    6    80.000  61.500000
362     97      9    7    78.500  61.000000
363     98      9    8    77.750  59.375000
364     99      9    9    73.875  58.250000

[365 rows x 5 columns]

In [ ]:
# # plot maker works -- displays the graph
# show(plot_maker(data=sql_results, div='2010'))

### -----
from bokeh.layouts import gridplot

viz = []
for i in sql_results.keys():
    viz.append(plot_maker(sql_results, i))
show(gridplot(data_grid(viz)))

In [10]:
df = sql_dict(2010)

DatabaseError: Execution failed on sql 'Select Distinct YEAR from weather WHERE YEAR >2010ORDER BY YEAR': unrecognized token: "2010ORDER"

In [111]:
def rew(year):
    test = '''
    select 
        MAX(a.over_max),
        MAX(a.over_min),
        AVG(b.TMAX),
        AVG(b.TMIN),
        b.Month,
        b.day,
        a.concat
        FROM
    (select 
                AVG(TMAX) over_max, 
                AVG(TMIN) over_min,
                MONTH || DAY concat,
                MONTH,
                DAY
        from weather
        where YEAR > '''+ str(year) +''' 
        and MONTH > 8
        GROUP BY 3, 4, 5) a join weather b
        on a.concat = b.Month || b.day
        where b.YEAR > '''+ str(year) +'''
        GROUP BY 5,6, 7'''
    return(pd.read_sql(test, conn))
rew(2016)

,MAX(a.over_max),MAX(a.over_min),AVG(b.TMAX),AVG(b.TMIN),MONTH,DAY,concat
0,58.500,36.750000,62.875000,42.875000,1,11,111
1,69.250,53.750000,64.250000,32.625000,1,12,112
2,69.250,52.250000,40.000000,24.000000,1,13,113
3,69.000,51.000000,32.250000,22.125000,1,14,114
4,76.000,59.000000,35.750000,25.375000,1,15,115
5,73.250,49.750000,36.875000,24.000000,1,16,116
6,52.000,46.250000,40.750000,24.875000,1,17,117
7,52.750,39.000000,39.375000,24.125000,1,18,118
8,58.250,33.750000,46.250000,28.750000,1,19,119
9,56.250,31.500000,61.500000,46.375000,1,21,121
10,58.750,34.000000,61.875000,47.375000,1,22,122
11,61.000,31.500000,55.375000,38.500000,1,23,123
12,66.750,38.250000,46.125000,33.500000,1,24,124
13,63.500,33.500000,56.500000,30.000000,1,25,125
14,50.000,28.750000,54.250000,32.875000,1,26,126
15,40.000,25.750000,49.500000,38.000000,1,27,127
16,35.250,22.000000,48.000000,29.142857,1,28,128
17,33.750,21.000000,38.285714,29.000000,1,29,129
18,82.500,63.625000,82.500000,63.625000,9,1,91
19,77.875,62.875000,77.875000,62.875000,9,2,92
20,85.750,63.625000,85.750000,63.625000,9,3,93
21,89.875,69.375000,89.875000,69.375000,9,4,94
22,85.250,66.500000,85.250000,66.500000,9,5,95
23,80.000,61.500000,80.000000,61.500000,9,6,96
24,78.500,61.000000,78.500000,61.000000,9,7,97
25,77.750,59.375000,77.750000,59.375000,9,8,98
26,73.875,58.250000,73.875000,58.250000,9,9,99
27,72.500,56.125000,72.500000,56.125000,9,10,910
28,70.625,55.250000,70.625000,55.250000,9,11,911
29,77.000,59.285714,77.000000,59.285714,9,12,912
...,...,...,...,...,...,...,...
110,58.750,34.000000,58.750000,34.000000,12,2,122
111,61.000,31.500000,61.000000,31.500000,12,3,123
112,66.750,38.250000,66.750000,38.250000,12,4,124
113,63.500,33.500000,63.500000,33.500000,12,5,125
114,50.000,28.750000,50.000000,28.750000,12,6,126
115,40.000,25.750000,40.000000,25.750000,12,7,127
116,35.250,22.000000,35.250000,22.000000,12,8,128
117,33.750,21.000000,33.750000,21.000000,12,9,129
118,41.000,21.750000,41.000000,21.750000,12,10,1210
119,51.250,25.000000,51.250000,25.000000,12,11,1211
120,47.750,23.750000,47.750000,23.750000,12,12,1212
121,46.250,20.000000,46.250000,20.000000,12,13,1213
122,45.000,23.750000,45.000000,23.750000,12,14,1214
123,39.250,25.750000,39.250000,25.750000,12,15,1215
124,49.000,30.000000,49.000000,30.000000,12,16,1216
125,48.250,35.000000,48.250000,35.000000,12,17,1217
126,48.500,38.500000,48.500000,38.500000,12,18,1218
127,52.750,42.500000,52.750000,42.500000,12,19,1219
128,54.750,39.250000,54.750000,39.250000,12,20,1220
129,57.500,32.000000,57.500000,32.000000,12,21,1221
130,58.000,48.750000,58.000000,48.750000,12,22,1222
131,57.250,38.250000,57.250000,38.250000,12,23,1223
132,39.500,25.000000,39.500000,25.000000,12,24,1224
133,33.000,22.750000,33.000000,22.750000,12,25,1225
134,30.500,20.750000,30.500000,20.750000,12,26,1226
135,22.000,8.000000,22.000000,8.000000,12,27,1227
136,24.000,10.750000,24.000000,10.750000,12,28,1228
137,28.750,18.500000,28.750000,18.500000,12,29,1229
138,29.250,12.250000,29.250000,12.250000,12,30,1230
139,22.000,8.000000,22.000000,8.000000,12,31,1231

In [55]:
#c.execute('DROP TABLE if exists maxminall')
# year = 2015
# c.execute('''CREATE TEMPORARY TABLE maxminall AS Select MONTH || DAY concat, MONTH, DAY,MAX(TMAX) over_max, MIN(TMIN) over_min 
#                 from weather where YEAR > '''+ str(year) +''' GROUP BY 1, 2, 3 ORDER BY 2, 3''')
    
pd.read_sql('select * from maxminall', conn)

DatabaseError: Execution failed on sql 'select * from maxminall': no such table: maxminall

In [5]:
conn = sqlite3.connect('weather.db')
c = conn.cursor()
c.execute('''CREATE TEMPORARY TABLE maxminall AS Select MONTH || DAY concat, MONTH, DAY,MAX(TMAX) over_max, MIN(TMIN) over_min 
            from weather GROUP BY 1, 2, 3 ORDER BY 2, 3''')
#Retrieves the range for the plots
rng = pd.read_sql('select MAX(TMAX) max, MIN(TMIN) min from weather', conn)
mx, mn =(rng.loc[0, 'max'], rng.loc[0,'min'])

In [37]:
pd.read_sql("select MONTH, DAY from weather where YEAR > 2010 limit 5", conn)

   MONTH  DAY
0      1    1
1      1    2
2      1    3
3      1    4
4      1    5

In [76]:
def query(sql):
    return pd.read_sql(sql, conn, index_col='index')

In [236]:
# Query to combine the overall metrics with the individual table
def quer(y):
    return'''select a.DATE, 
    a.TMAX, 
    a.TMIN,  
    a.YEAR, 
    a.MONTH, 
    a.DAY, 
    b.over_max, 
    b.over_min 
    from autumn a join maxminall b
    on a.MONTH || a.DAY = b.concat WHERE YEAR = ''' + str(y)

#pd.read_sql(quer, conn)

In [17]:
conn = sqlite3.connect('weather.db')
c = conn.cursor()
c.execute('''CREATE TEMPORARY TABLE maxminall AS Select MONTH || DAY concat, MONTH, DAY,MAX(TMAX) over_max, MIN(TMIN) over_min 
            from weather GROUP BY 1, 2, 3 ORDER BY 2, 3''')
#Retrieves the range for the plots
rng = pd.read_sql('select MAX(TMAX) max, MIN(TMIN) min from weather', conn)
mx, mn =(rng.loc[0, 'max'], rng.loc[0,'min'])

pd.read_sql('Select * from weather where YEAR = 2018', conn).dropna()

      index      STATION                 DATE  TMAX  TMIN  YEAR  MONTH  DAY
934   20751  USW00093821  2018-01-01 00:00:00  18.0   3.0  2018      1    1
935   20752  USW00093821  2018-01-02 00:00:00  22.0   0.0  2018      1    2
936   20753  USW00093821  2018-01-03 00:00:00  31.0   7.0  2018      1    3
937   20754  USW00093821  2018-01-04 00:00:00  24.0   7.0  2018      1    4
938   20755  USW00093821  2018-01-05 00:00:00  21.0   9.0  2018      1    5
939   20756  USW00093821  2018-01-06 00:00:00  23.0   4.0  2018      1    6
940   20757  USW00093821  2018-01-07 00:00:00  44.0  11.0  2018      1    7
941   20758  USW00093821  2018-01-08 00:00:00  41.0  35.0  2018      1    8
942   20759  USW00093821  2018-01-09 00:00:00  44.0  37.0  2018      1    9
943   20760  USW00093821  2018-01-10 00:00:00  63.0  42.0  2018      1   10
944   20761  USW00093821  2018-01-11 00:00:00  66.0  55.0  2018      1   11
945   20762  USW00093821  2018-01-12 00:00:00  59.0  25.0  2018      1   12
946   20763  USW00093821  2018-01-13 00:00:00  25.0  14.0  2018      1   13
947   20764  USW00093821  2018-01-14 00:00:00  23.0   9.0  2018      1   14
948   20765  USW00093821  2018-01-15 00:00:00  33.0  17.0  2018      1   15
949   20766  USW00093821  2018-01-16 00:00:00  17.0   6.0  2018      1   16
950   20767  USW00093821  2018-01-17 00:00:00  20.0   8.0  2018      1   17
951   20768  USW00093821  2018-01-18 00:00:00  33.0  12.0  2018      1   18
952   20769  USW00093821  2018-01-19 00:00:00  44.0  22.0  2018      1   19
953   20770  USW00093821  2018-01-20 00:00:00  54.0  40.0  2018      1   20
954   20771  USW00093821  2018-01-21 00:00:00  59.0  49.0  2018      1   21
955   20772  USW00093821  2018-01-22 00:00:00  61.0  50.0  2018      1   22
956   20773  USW00093821  2018-01-23 00:00:00  51.0  34.0  2018      1   23
957   20774  USW00093821  2018-01-24 00:00:00  39.0  28.0  2018      1   24
958   20775  USW00093821  2018-01-25 00:00:00  52.0  24.0  2018      1   25
959   20776  USW00093821  2018-01-26 00:00:00  61.0  35.0  2018      1   26
960   20777  USW00093821  2018-01-27 00:00:00  59.0  49.0  2018      1   27
961   20778  USW00093821  2018-01-28 00:00:00  55.0  36.0  2018      1   28
962   20779  USW00093821  2018-01-29 00:00:00  40.0  30.0  2018      1   29
963   20780  USW00093821  2018-01-30 00:00:00  38.0  25.0  2018      1   30
...     ...          ...                  ...   ...   ...   ...    ...  ...
3565  68893  USC00154958  2018-09-12 00:00:00  79.0  61.0  2018      9   12
3566  68894  USC00154958  2018-09-13 00:00:00  87.0  62.0  2018      9   13
3567  68895  USC00154958  2018-09-14 00:00:00  88.0  68.0  2018      9   14
3568  68896  USC00154958  2018-09-15 00:00:00  88.0  68.0  2018      9   15
3569  68897  USC00154958  2018-09-16 00:00:00  82.0  71.0  2018      9   16
3570  68898  USC00154958  2018-09-17 00:00:00  82.0  70.0  2018      9   17
3571  68899  USC00154958  2018-09-18 00:00:00  92.0  69.0  2018      9   18
3572  68900  USC00154958  2018-09-19 00:00:00  92.0  69.0  2018      9   19
3573  68901  USC00154958  2018-09-20 00:00:00  94.0  72.0  2018      9   20
3574  68902  USC00154958  2018-09-21 00:00:00  90.0  71.0  2018      9   21
3575  68903  USC00154958  2018-09-22 00:00:00  71.0  60.0  2018      9   22
3576  68904  USC00154958  2018-09-23 00:00:00  65.0  59.0  2018      9   23
3577  68905  USC00154958  2018-09-24 00:00:00  71.0  64.0  2018      9   24
3578  68906  USC00154958  2018-09-25 00:00:00  81.0  69.0  2018      9   25
3579  68907  USC00154958  2018-09-26 00:00:00  73.0  59.0  2018      9   26
3580  68908  USC00154958  2018-09-27 00:00:00  61.0  55.0  2018      9   27
3581  68909  USC00154958  2018-09-28 00:00:00  71.0  52.0  2018      9   28
3582  68910  USC00154958  2018-09-29 00:00:00  74.0  54.0  2018      9   29
3583  68911  USC00154958  2018-09-30 00:00:00  83.0  56.0  2018      9   30
3584  68912  USC00154958  2018-10-01 00:00:00  86.0  61.0  2018     10    1
3585  68913  USC00154958  2018-10-02 00:00:00  85.0  70.0  2018     10    2
3586  68914  USC00154958  2018-10-03 00:00:00  88.0  68.0  2018     10    3
3587  68915  USC00154958  2018-10-04 00:00:00  86.0  70.0  2018     10    4
3588  68916  USC00154958  2018-10-05 00:00:00  89.0  68.0  2018     10    5
3589  68917  USC00154958  2018-10-06 00:00:00  88.0  70.0  2018     10    6
3590  68918  USC00154958  2018-10-07 00:00:00  88.0  67.0  2018     10    7
3591  68919  USC00154958  2018-10-08 00:00:00  88.0  69.0  2018     10    8
3592  68920  USC00154958  2018-10-09 00:00:00  86.0  68.0  2018     10    9
3593  68921  USC00154958  2018-10-10 00:00:00  82.0  69.0  2018     10   10
3594  68922  USC00154958  2018-10-11 00:00:00  71.0  49.0  2018     10   11

[1132 rows x 8 columns]